@import url('https://fonts.googleapis.com/css?family=Raleway:200, 300, 400, 700');

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$the-font: 'Raleway', sans-serif;

$heading-font: 'Raleway', sans-serif;

$body-font: 'Raleway', sans-serif;
