.color-theme-magenta
    stroke: #c32148

    h1
        color: #c32148

.color-theme-background-magenta
    background-color: rgba(195,33,72, 0.8)

    a
       background: rgba(195,33,72, 0.2) 
       color: white

    &:hover
        background-color: rgba(195,33,72, 1)
        color: white

    p
        color: white

    a
        color: white

.color-theme-team-magenta
    background: #c32148

    h1, h3, h5
        color: white

    img
        border: none

    a
        svg
            stroke: white
            circle
                stroke: white

.button-open
    .color-theme-magenta
        .hamburger-line
            stroke: white
        .hamburger-circle
            stroke: white

.color-theme-select-magenta
    input
        &:checked + .manufaturing_image
            background-color: rgba(195,33,72, 0.2) 

        &:active + .manufaturing_image
            background-color: rgba(195,33,72, 0.2)