.sleeves_wrap
    width: 100%
    padding: 15px 0 25px

    @media (min-width: $mobile-break)
        width: 46%
        margin: 0 2% 20px
        padding: 0

    h3
        color: white
        width: 100%

.sleeves_print_radios
    width: 100%
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between
    margin: 0 0 20px 0

    @media (min-width: $mobile-break)
        width: auto

    h3
        width: 100%
        color: white
        margin: 0
        padding: 10px 0

    input
        margin: 0
        padding: 0
        appearance: none

        &:checked + .sleeves_print_image
            background-color: rgba(255,255,255,0.1)
            opacity: 1
            border: 1px solid #ccc

        &:active + .sleeves_print_image
            background-color: rgba(255,255,255,0.1)
            opacity: 1
            border: 1px solid #ccc

.sleeves_print_radio
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    h5
        color: white
        font-size: 15px
        margin: 0
        padding: 0
        font-weight: 700

    p
        color: white
        font-size: 9px
        font-weight: 300
        margin: 0
        padding: 0

.sleeves_print_image
    cursor: pointer
    background-size: cover
    background-repeat: no-repeat
    background-position: center center
    width: 100px
    height: 100px
    transition: all 300ms ease-in
    background-color: transparent
    margin: 10px
    opacity: 0.7
    border: 1px solid transparent

    &:hover
        transition: all 300ms ease-in
        opacity: 0.9

.sleeves_print_default
    background-image: url('img/sleeve_default.png')

.sleeve_dropdown_wrap
    display: flex
    flex-direction: column
    justify-content: center
    width: 50%

    label
        font-family: $body-font
        color: $light-text
        font-size: 12px
        font-weight: 700
        margin-bottom: 5px

    p
        margin: -5px 0 8px 0
        padding: 0
        font-family: $body-font
        color: $light-text
        font-size: 11px
        opacity: 0.5
        font-weight: 700

    input
        height: 30px
        background: $form-back
        font-size: 18px
        padding: 0 5px
        border: none
        border: 1px solid $form-back

    &:focus
        border: 1px solid white
        background: $form-focus

.sleeves_print_1c
    background-image: url('img/sleeve_1c.png')

.sleeves_print_4c
    background-image: url('img/sleeve_4c.png')

.type_of_sleeve_off
    display: none

.type_of_sleeve_color_off
    display: none

//  COVER STYLES

.cover_print_default
    background-image: url('img/sleeve_default.png')

.cover_print_1c
    background-image: url('img/sleeve_1c.png')

.cover_print_4c
    background-image: url('img/sleeve_4c.png')

.type_of_cover_off
    display: none

.type_of_cover_color_off
    display: none

.sleeve_info_wrap
    width: 100%
    display: flex
    flex-direction: row
    justify-content: space-between

.cover_bottom_border
    border-bottom: none !important
