.test-pressings-wrap
    width: 100%
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: flex-start
    align-items: center
    margin: 0 0 20px 0

.test-pressings-text-header
    width: 100%
    margin: 10px 0
    padding: 0

    h3
        font-family: $the-font
        color: $light-text
        font-size: 13px
        line-height: 1.2
        font-weight: 400
        padding: 0
        margin: 0
        text-align: left

.test-pressings-text
    width: 45%
    margin: 0 5% 0 0
    padding: 0

    h4
        font-family: $the-font
        color: $light-text
        font-size: 10px
        line-height: 1.2
        font-weight: 400
        padding: 0
        margin: 0
        text-align: left

.input-test-pressings
    width: 50%
    margin: 0

    label
        margin: 0

    input
        width: 100%
        color: $dark-text

.final-delivery-wrap
    width: 100%
    display: flex
    flex-direction: row
    flex-wrap: wrap
    margin: 0 0 25px

.input-final-delivery-city
    width: 100%
    margin: 12px 0

    @media (min-width: 750px)
        width: 40%
        margin: 12px 3% 0 0

.input-final-delivery-postal-code
    width: 40%
    margin: 0 5% 0 0

    @media (min-width: 750px)
        width: 20%
        margin: 12px 3% 0 0

.input-final-delivery-country
    width: 55%
    margin: 0

    @media (min-width: 750px)
        width: 34%
        margin: 12px 0 0

.delivery_checkbox_radios
    flex-direction: row
    margin: 15px 0 5px

    label
        font-size: 12px
        font-weight: 300
        margin: 0 0 0 5px

    input
        width: 13px
        height: 13px

    input:checked::before
        font-size: 14px
        width: 13px
        height: 13px
        margin-top: -4px