.manmade-textarea
    width: 100%
    margin: 10px 0

    @media (min-width: $mobile-break)
        margin: 20px 0 10px 0

    label
        font-family: $body-font
        color: $light-text
        font-size: 12px
        font-weight: 400
        margin: 0 0 5px 0

        @media (min-width: $mobile-break)
            font-size: 13px

    textarea
        width: 96%
        height: 100px
        background: $form-back
        font-size: 16px
        line-height: 1.5
        color: $dark-text
        padding: 0
        border: none
        margin: 5px 0 0 0
        padding: 2%

        &:focus
            border: 1px solid white
            background: $form-focus

    p
        color: $light-text
        margin: 4px 0 10px
        font-weight: 300
        font-size: 11px
        opacity: 0.5