.form_vinyl_selections_wrap
    width: 100%
    display: flex
    flex-direction: column
    flex-wrap: wrap

    @media (min-width: $mobile-break)
        width: 46%
        margin: 0 2% 25px
        align-items: center
        flex-wrap: nowrap
    
.form_vinyl_selections_radios
    width: 100%
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between
    margin: 0 0 20px 0

    @media (min-width: $mobile-break)
        width: auto
        margin: 0 40px 0 0

    h3
        width: 100%
        color: white
        margin: 0
        padding: 10px 0

    input
        margin: 0
        padding: 0
        appearance: none

        &:checked + .manufaturing_image
            background-color: rgba(255,255,255,0.1)
            opacity: 1

        &:active + .manufaturing_image
            background-color: rgba(255,255,255,0.1)
            opacity: 1

.h3_extra
    font-size: 12px
    font-weight: 300

.manufaturing_image
    cursor: pointer
    background-size: cover
    background-repeat: no-repeat
    background-position: center center
    width: 100px
    height: 100px
    transition: all 300ms ease-in
    background-color: transparent
    margin: 10px
    opacity: 0.7

    @media (min-width: $mobile-break)
        margin: 0 20px 0 0

    &:hover
        transition: all 300ms ease-in
        opacity: 0.9


.manufacturing_vinyl_7
    background-image: url('img/vinyl_7.png')

.manufacturing_vinyl_10
    background-image: url('img/vinyl_10.png')

.manufacturing_vinyl_12
    background-image: url('img/vinyl_12.png')

.manufacturing_vinyl_font
    color: white
    display: relative
    margin-top: 20px
    font-size: 15px
    font-weight: 700

.form_vinyl_selections_amount
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 100%

    @media (min-width: $mobile-break)
        width: 100%

.vinyl_amount_wrap
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    margin: 10px 0

    @media (min-width: $mobile-break)
        width: 100%

    label
        font-family: $body-font
        color: $light-text
        font-size: 12px
        font-weight: 700
        margin-bottom: 5px

    p
        margin: -5px 0 8px 0
        padding: 0
        font-family: $body-font
        color: $light-text
        font-size: 11px
        opacity: 0.5
        font-weight: 700

    input
        height: 30px
        background: $form-back
        font-size: 18px
        padding: 0 5px
        border: none
        border: 1px solid $form-back

    &:focus
        border: 1px solid white
        background: $form-focus


.vinyl_amount_footnote
    display: block
    color: #aaa

.vinyl-radio-button
    width: 100%
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    flex-wrap: wrap

    div
        display: flex
        flex-direction: row
        align-items: center
        margin: 7px 0

    input
        appearance: none
        position: relative
        right: 0
        bottom: 0
        left: 0
        height: 15px
        width: 15px
        background: $form-back
        border: none
        color: $dark-text
        cursor: pointer
        display: inline-block
        margin: 0
        outline: none
        position: relative

    input:hover
        background: #9faab7

    input:checked
        background: $light-text

    input:checked::before
        height: 15px
        width: 15px
        position: absolute
        content: '✔'
        display: inline-block
        font-size: 14px
        text-align: center
        line-height: 15px

    input:checked::after
        background: #40e0d0
        content: ''
        display: block
        position: relative
        z-index: 100

    label
        font-family: $body-font
        color: $light-text
        font-size: 14px
        font-weight: 700
        margin: 0 10px 0 5px
        cursor: pointer



