.manmade-radio-buttons-wrap
  width: 100%
  margin: 0 0 10px 0
  display: flex
  flex-direction: column

  @media (min-width: $mobile-break)
    width: 48%
    margin: 0 2% 0 0

.manmade-radio-buttons-title
  font-family: $body-font
  color: $light-text
  font-size: 12px
  font-weight: 400
  margin-bottom: 5px
  letter-spacing: 0.05em

  @media (min-width: $mobile-break)
    font-size: 13px

.manmade-radio-buttons-title-2
  font-family: $body-font
  color: $light-text
  font-size: 12px
  font-weight: 700
  margin: 0 0 5px

.manmade-radio-buttons
  width: 100%
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: flex-start
  flex-wrap: wrap

  div
    display: flex
    flex-direction: row
    align-items: center
    margin: 7px 0

  input
    appearance: none
    position: relative
    right: 0
    bottom: 0
    left: 0
    height: 20px
    width: 20px
    border-radius: 50%
    background: $form-back
    border: none
    color: $dark-text
    cursor: pointer
    display: inline-block
    margin: 0
    outline: none
    position: relative

  input:hover
    background: #9faab7

  input:checked
    background: $light-text

  input:checked::before
    height: 20px
    width: 20px
    position: absolute
    content: '●'
    display: inline-block
    font-size: 18px
    font-weight: 700
    text-align: center
    line-height: 20px

  input:checked::after
    background: #40e0d0
    content: ''
    display: block
    position: relative
    z-index: 100

  label
    font-family: $body-font
    color: $light-text
    font-size: 16px
    font-weight: 400
    margin: 0 10px 0 5px
    cursor: pointer

.radio-yes-no
  flex-direction: row !important

.radio-yes-no-wrap
  margin: -10px 0 0 0 !important

  @media (min-width: $mobile-break)
    margin: 0 0 0 2% !important