.vinyl-color-wrap
    width: 100%

.vinyl_color_selection_wrap
    width: 100%
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: flex-start
    flex-wrap: wrap
    padding: 0 0 20px

    input
        margin: 0
        padding: 0
        appearance: none

        &:checked + .vinyl_color_image
            background-color: rgba(255,255,255,0.1)
            opacity: 1

        &:active + .vinyl_color_image
            background-color: rgba(255,255,255,0.1)
            opacity: 1

.vinyl_color_image
    cursor: pointer
    background-size: cover
    background-repeat: no-repeat
    background-position: center center
    width: 45px
    height: 0
    padding-bottom: 45px
    transition: all 300ms ease-in
    background-color: transparent
    margin-right: 10px
    opacity: 0.7
    color: transparent
    display: block

    @media (min-width: $mobile-break)
        margin: 0 20px 0 0

    &:hover
        transition: all 300ms ease-in
        opacity: 0.9

.vinyl_color_black
    background-image: url('img/vinyl_color_black.png')

.vinyl_color_transparent
    background-image: url('img/vinyl_color_transparent.png')

.vinyl_color_white
    background-image: url('img/vinyl_color_white.png')

.vinyl_color_gold
    background-image: url('img/vinyl_color_gold.png')

.vinyl_color_yellow
    background-image: url('img/vinyl_color_yellow.png')

.vinyl_color_yellow_translucent
    background-image: url('img/vinyl_color_yellow_translucent.png')

.vinyl_color_orange
    background-image: url('img/vinyl_color_orange.png')

.vinyl_color_red
    background-image: url('img/vinyl_color_red.png')

.vinyl_color_red_translucent
    background-image: url('img/vinyl_color_red_translucent.png')

.vinyl_color_blue
    background-image: url('img/vinyl_color_blue.png')

.vinyl_color_blue_translucent
    background-image: url('img/vinyl_color_blue_translucent.png')

.vinyl_color_green
    background-image: url('img/vinyl_color_green.png')

.vinyl_color_green_translucent
    background-image: url('img/vinyl_color_green_translucent.png')

.vinyl_color_display_wrap
    width: 48%
    margin-right: 2%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start
    max-width: 150px

    img
        width: 100%

.vinyl_color_all_wrap
    width: 50%
    display: flex
    flex-wrap: wrap
    align-items: flex-start
    justify-content: flex-end

.vinyl_color_single
    width: 45px
    height: 45px
    margin: 0 5px 5px 0

#vinyl_color_text
    color: white
    font-size: 11px
    font-weight: 700

.vinyl_color_notes_wrap
    width: 100%
    display: flex
    flex-direction: row
    justify-content: flex-end

.machine_cleaning_wrap
    margin-left: 15px
    display: flex
    flex-direction: row
    justify-content: flex-end
    align-items: center
    flex-wrap: wrap
    margin-top: 20px

    div
        display: flex
        flex-direction: row
        align-items: center
        margin: 7px 0

    input
        appearance: none
        position: relative
        right: 0
        bottom: 0
        left: 0
        height: 15px
        width: 15px
        background: $form-back
        border: none
        color: $dark-text
        cursor: pointer
        display: inline-block
        margin: 0
        outline: none
        position: relative

    input:hover
        background: #9faab7

    input:checked
        background: $light-text

    input:checked::before
        height: 15px
        width: 15px
        position: absolute
        content: '✔'
        display: inline-block
        font-size: 9px
        text-align: center
        line-height: 15px

    input:checked::after
        background: #40e0d0
        content: ''
        display: block
        position: relative
        z-index: 100

    label
        font-family: $body-font
        color: $light-text
        font-size: 14px
        font-weight: 700
        margin: 0 10px 0 5px
        cursor: pointer
