#mastering-info-button
    cursor: pointer
    
.mastering_wrap
    display: flex
    flex-direction: row
    flex-wrap: wrap
    flex-wrap: wrap
    transition: max-height 1.5s ease
    max-height: 2500px
    overflow: hidden

.mastering_wrap_on
    transition: max-height 1.5s ease
    max-height: 0
    
.mastering-top-block
    display: flex
    flex-direction: column
    justify-content: flex-start
    width: 100%
    margin: 2px 0 5px

    @media (min-width: $mobile-break)
        flex-direction: row
        margin: 2px 0 15px

.mastering-top-block-heading
    font-size: 9px
    color: $light-text
    font-family: $the-font
    font-weight: 200
    margin: 0 10px 10px 0
    min-width: 65px
    text-transform: uppercase

    @media (min-width: $mobile-break)
        font-size: 11px
        margin: 2px 10px 10px 0

.mastering-top-block-inside
    display: flex
    flex-direction: column
    justify-content: flex-start

    p
        font-family: $the-font
        font-size: 12px
        color: $light-text
        font-weight: 400
        padding: 0
        margin: 0 0 3px
        line-height: 1.5
        letter-spacing: 0.03em

        @media (min-width: $mobile-break)
            font-size: 13px

    a
        color: $light-text
        text-decoration: none
        opacity: 0.8

        &:hover
            opacity: 1
            text-decoration: underline

.mastering-top-radios-wrap
    width: 100%
    display: flex
    flex-direction: row

    @media (min-width: $mobile-break)
        width: 48%
        margin: 0 2% 0 0

.mastering-top-input
    width: 100%
    display: flex
    flex-direction: column

    @media (min-width: $mobile-break)
        width: 48%
        margin: 12px 0 0 2%

.mastering-info-wrap
    display: flex
    flex-direction: row
    flex-wrap: wrap
    width: 100%
    margin: 0

    @media (min-width: $mobile-break)
        width: 96%
        margin: 0 2%

.mastering-heading-wrap
    width: 100%
    margin: 16px 0 10px

.mastering-heading
    font-size: 12px
    color: $light-text
    font-family: $body-font
    font-weight: 400
    margin: 0
    padding: 0

    @media (min-width: $mobile-break)
       font-size: 13px

.mastering-subheading
    font-size: 11px
    color: $light-text
    font-family: $body-font
    font-weight: 400
    margin: 4px 0 0 0
    padding: 0
    opacity: 0.5

.mastering_info_button
    cursor: pointer

.mastering_info_button
    svg
        transform: rotate(0deg)
        transition: all 1s ease-in-out

.mastering_info_button_on
    svg
        transform: rotate(180deg)
        transition: all 1s ease-in-out

.mastering_plant_contact
    width: 100%
    display: flex
    flex-wrap: wrap
    margin: 5px 0 0 0

    @media (min-width: $mobile-break)
        margin: 10px 0 0 0

.pressing-text-wrap
    width: 100%
    margin: 0 0 15px

    h4
        font-family: $the-font
        color: $light-text
        font-size: 12px
        font-weight: 400
        margin: 0
        padding: 0

        @media (min-width: $mobile-break)
            font-size: 13px

    p
        font-family: $the-font
        color: $light-text
        font-size: 10px
        font-weight: 300
        margin: 3px 0 0 0
        padding: 0

        @media (min-width: $mobile-break)
            font-size: 11px

.pressing-span
    text-transform: uppercase
    font-weight: 200
    font-size: 9px
