.label_wrap
    width: 100%
    display: flex
    flex-direction: column
    margin: 10px 0 0 0
    padding: 0
    align-items: flex-end

    @media (min-width: $vinyl-break)
        flex-direction: row
        margin: 0
        padding: 0
        flex-wrap: wrap
        align-items: flex-end

.label_radios_wrap
    width: 100%
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: flex-start
    flex-wrap: wrap
    margin: 0 0 15px

    @media (min-width: $vinyl-break)
        width: 65%
        margin: 0 5% 0 0

    div
        width: 30%

    input
        display: none

        &:checked + img
            background-color: rgba(255,255,255,0.1)
            opacity: 1

        &:active + img
            background-color: rgba(255,255,255,0.1)
            opacity: 1

    label
        display: flex
        flex-direction: column
        align-items: center

    img
        width: 80%
        padding: 10%
        cursor: pointer

    h4
        font-family: $the-font
        color: $light-text
        font-weight: 700
        font-size: 10px
        margin: 0
        padding: 0

    h5
        font-family: $the-font
        color: $light-text
        font-weight: 300
        font-size: 8px
        margin: 0
        padding: 0 
        

.label_inputs_wrap
    width: 45%
    display: flex
    flex-direction: row

    @media (min-width: $vinyl-break)
        width: 30%
        flex-direction: column
        align-items: center

.color_of_label_on
    display: none

#color_of_label
    width: 50%
    margin: 0 5% 0 0

    @media (min-width: $vinyl-break)
        width: 100%
        margin: 0 0 20px 0

.label_amount_wrap
    width: 100% !important

.color_amount_wrap
    width: 45%
    display: flex
    flex-direction: column
    justify-content: center
    margin: 0

    @media (min-width: $vinyl-break)
        width: 100%

    label
        font-family: $body-font
        color: $light-text
        font-size: 12px
        font-weight: 400
        margin-bottom: 5px

    p
        margin: -5px 0 8px 0
        padding: 0
        font-family: $body-font
        color: $light-text
        font-size: 11px
        opacity: 0.5
        font-weight: 700

    input
        height: 30px
        background: $form-back
        font-size: 16px
        line-height: 1.5
        color: $dark-text
        padding: 0 10px
        border: none
        border: 1px solid $form-back