.form-header
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    background: $form-header-back
    width: 100%
    margin: 20px 0
    padding: 5px 20px
        
    h3
        font-family: $heading-font
        font-weight: 300
        letter-spacing: 0.05em
        font-size: 16px
        color: $dark-text
        margin: 0
        padding: 0

        @media (min-width: $mobile-break)
            font-size: 22px
            padding: 3px 0

        span
            font-size: 15px
            display: inline-block
            color: $dark-text
            font-family: $the-font
            font-weight: 200


    svg
        width: 30px
        height: 30px
        margin-top: 2px
        transition: all 0.5s ease-in-out

        path
        fill: $dark-text

        circle
        fill: none
        stroke: $dark-text
        stroke-width: 1.3px