.order
  width: 100%
  display: block
  margin: 0 auto
  overflow: hidden
  background: $dark-back

.order-header-font
  @extend %header-font
  color: $light-text

.order-return
  font-family: $body-font
  font-weight: 300
  font-size: 10px
  color: $light-text
  width: 90%
  margin: -20px 5% 0

  @media (min-width: $mobile-break)
    font-size: 12px
    width: 80%
    margin: -20px 10% 0

.order-container
  width: 90%
  margin: 0 5%
  background: $dark-back

  @media (min-width: $mobile-break)
    width: 80%
    margin: 0 10%

// ORDER BOTTOM

.order-wetransfer
  display: flex
  flex-direction: column
  justify-content: center
  width: 100%
  margin: 0 auto
  max-width: 1200px

  @media (min-width: $mobile-break)
    flex-direction: row
    justify-content: flex-start
    width: 90%
    margin: 0 5% 20px
    align-items: center

.order-wetranfer-send
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 110px
  margin: 0
  padding: 0 3%

  img
    width: 66px
    margin: 10px 0

  a
    width: 80px
    height: 30px
    border: 1px solid $light-text
    font-family: $body-font
    text-decoration: none
    text-align: center
    color: $light-text
    font-weight: bold
    font-size: 16px
    line-height: 1.9
    margin: 10px 0 0 0
    padding: 0
    background-color: none
    transition: background-color 0.5 ease-in-out

    &:hover
      transition: background-color 0.5 ease-in-out
      background-color: rgba(255,255,255,0.2)

.order-wetransfer-text
  margin: 10px 5%
  padding: 0
  width: 90%

  @media (min-width: $mobile-break)
    margin: 0
    width: auto

  p
    margin: 0
    padding: 3px 0
    line-height: 1.5
    font-family: $body-font
    color: $light-text
    font-weight: 300
    font-size: 15px

.manmade-radio-privacy-text
  width: 80%
  margin: 10px 10%
  display: block
  font-size: 14px
  color: rgba(255,255,255,0.5)

  a
    text-decoration: none
    color: rgba(255,255,255,0.7)

    &:hover
      text-decoration: underline

.manmade-privacy-button
  width: 80%
  margin: 5px 10%

  label
    color: rgba(255,255,255,0.6)
    font-size: 11px

