.projects
  width: 90%
  margin: 25px 5% 50px

  h1
    font-family: $heading-font
    font-size: 24px
    color: $dark-text
    position: relative
    margin: 50px 0 0

    @media (min-width: $mobile-break)
      font-size: 30px

  h2
    font-family: $body-font
    font-size: 22px
    font-weight: 300
    color: $dark-text
    position: relative

    @media (min-width: $mobile-break)
      font-size: 26px

  p
    font-family: $body-font
    font-size: 14px
    font-weight: 400
    line-height: 1.5
    color: $dark-text
    position: relative
    text-align: justify

    @media (min-width: $mobile-break)
      font-size: 18px
