.services
  width: 100%
  height: auto

.services-header
  width: 100%
  background-color: $light-back

.service-header-font
  color: $dark-text

.services-wrap
  width: 100%
  background: url('img/services.jpg') no-repeat center center
  background-size: cover
  position: relative

.services-text-wrap
  position: relative

.services-text
  padding: $margin 0
  margin-left: 5%

  @media (min-width: $mobile-break)
    margin-left: 10%

  p
    font-family: $the-font
    font-weight: 700
    color: white
    font-size: 12px
    line-height: 1

    @media (min-width: $mobile-break)
      font-size: 16px

.services-link
  width: 100%
  background: rgba(255,255,255,0.7)
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-decoration: none
  padding: 50px 0
  transition: background 1s ease-in-out
  color: $dark-text

  @media (min-width: $mobile-break)
    width: 40%
    transform: skew(-2deg)
    position: absolute
    right: -40px
    top: 0
    bottom: 0

  &:hover
    background: rgba(255,255,255,0.9)
    text-decoration: underline
    transition: all 1s ease-in-out

.services-request-wrap
  width: 100%
  tranform: skew(2deg)

  p
    padding: 0
    margin: 0
    font-family: $heading-font
    color: $dark-text
    font-size: 24px
    text-align: center

    @media (min-width: $mobile-break)
      font-size: 36px

.services-bottom-white
  height: $margin
  background: $light-back
  display: block
  width: 100%
