.studio
  width: 100%
  max-width: 1200px
  display: flex
  flex-direction: row
  flex-wrap: wrap
  margin: 25px auto

  @media (min-width: $mobile-break)
    padding-top: 65px

  h1
    font-family: $heading-font
    font-size: 30px
    color: $dark-text
    width: 100%
    position: relative
    margin: 20px 0 10px 5%

    @media (min-width: $mobile-break)
      font-size: 36px
      position: absolute
      margin: -40px 0 0 5%
      width: auto

.studio-component
  width: 90%
  margin: 10px 5%
  display: flex
  flex-direction: column
  justify-content: flex-end

  h2
    font-family: $body-font
    font-weight: 700
    font-size: 18px
    color: $dark-text
    margin: 15px 0 3px 0
    padding: 0

  p
    font-family: $body-font
    font-weight: 300
    font-size: 14px
    color: $dark-text
    margin: 2px 0
    padding: 0

  img
    width: 100%
    margin: 20px 0 0 0
    border: 1px solid $dark-text

  @media (min-width: $mobile-break)
    width: 40%
    margin: 10px 5%
    justify-content: flex-end
