%navigation-text
    font-family: $the-font
    color: $dark-text
    font-weight: 300
    margin: 0
    padding: 0 0 10px
    font-size: 28px
    display: block
    text-align: center
    text-decoration: none
    width: auto

    @media (min-width: $mobile-break)
      font-size: 38px

%header-font
  font-family: $the-font
  font-weight: 200
  font-size: 30px
  margin: 0
  width: 90%
  padding: $margin 5%
  letter-spacing: 0.05em

  @media (min-width: $mobile-break)
    width: 80%
    padding: $margin 10%
    font-size: 40px

